<%= form_tag "/hereinfo/#{@user.id}", method: :patch do %>
  <div>
    <input type="text" name="here_id" placeholder="Here ID" value="<%= @user.here_id %>">
  </div>
  <div>
    <input type="password" name="here_password" placeholder="Here Password" value="<%= @user.here_password %>">
  </div>
  <div>
    <input type="submit" value="Add Here Info">
  </div>
<% end %>